#heading{
    color:green;
}

.header{
    display:flex;
    /* justify-content: space-evenly; */
    border-bottom:0.2rem solid black; 
}

.login {
    padding:12px 20px;
    cursor: pointer;
    /* border: 2px solid blue; */
    background-color: lightblue;
    font-weight: bold;
    font-size: medium;

}